body {
  margin: 0;
  padding: 0;
}

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  line-height: 50px;
  color: white;
  background-color: rgb(0, 10, 104);
  & a {
    margin-right: 50px;
    text-decoration: none;
    color: rgb(103, 255, 103);
  }
}

.nav-links {
  display: flex;
  gap: 20px;
}

.Footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  line-height: 50px;
  gap: 20px;
  background-color: rgb(0, 10, 104);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}
